 /* CCS reset */
 body{
    background:url("wallpaper2you_472485.jpg");
    /* width:60%;
    height:50%; */
    background-color: black;
    color:white;
}
.left{
    display:inline;
    position:absolute;
    left:4px;
    top:4px;
    /* border:2px solid red; */
}     
.mid{ 
    font-family: 'Kufam', cursive;
    display:block;
    /* border:2px solid blue; */
    width: 36%;
    margin: 12px auto;
}
.right{
    position:absolute;
    right:12px;
    top:12px;
    display:inline;
    /* border:2px solid green; */
}
 .navbar li{
      display:inline;
} 
 .navbar li a{
     color: white;
     text-decoration: none;
     padding:8px 4px ;
     margin:4px;
     font-size: 18px;
}
 .navbar li a:hover{
     text-decoration: underline;
     color:darkcyan;
}
 .left img{
     width :50px;
     margin:15px 15px 6px 15px;
 }
 .left div{
     text-align: center;
 } 
 .btn{
     font-family: 'Kufam', cursive;
     background-color: transparent;
     color: black;
     padding:2px 4px;
     margin: 4px;
     font-size: 15px;
     border: 2px solid black;
     border-radius: 10px;
     cursor: pointer;
 }
 .btn:hover{
     background-color:rgb(20, 247, 255);
     transition: 0.8s;
 }
 .container{
     border:2px solid white;
     margin:109px 432px;
     padding:75px;
     width:33% ;
     border-radius: 26px;
 }
 .form-group input{
     font-family: 'Kufam', cursive;
    text-align: center;
    display:block;
    width: 400px;
    padding: 6px;
    border:2px solid black;
    margin:3px auto;
    border-radius: 5px;  
 }
 .container h1{
     text-align: center;
 }
 .container button{
     font-family: 'Kufam', cursive;
     display: block;
     width:23%;
     margin:auto;
     margin-top: 20px;
 }